# tupple and Dictionary

In [22]:
a = ("ali" , "asad" , "zeeshan")
a

('ali', 'asad', 'zeeshan')

In [23]:
b = ("rehan" , "alam")

In [24]:
c = a + b

In [25]:
c

('ali', 'asad', 'zeeshan', 'rehan', 'alam')

In [26]:
del a

In [27]:
a

NameError: name 'a' is not defined

In [28]:
dict = {"name": "ali" , "age": 24 , "class" : 10 , "address": 5.5}

In [29]:
dict

{'name': 'ali', 'age': 24, 'class': 10, 'address': 5.5}

In [30]:
dict_1 = {"name": ["alex" , "sara"] , "tuple": ("one" , "two" , 3)}

In [58]:
dict_1

{'name': ['alex', 'sara'], 'tuple': ('one', 'two', 3)}

In [59]:
type(dict_1)

dict

In [60]:
tuple(dict_1)

('name', 'tuple')

In [61]:
type(dict_1)

dict

In [62]:
dict_2 = {"first name": "Sir" , "last name": "Iqbal" , "age": 35 , "profession": "teaching" , "adress": "islamabad"}

In [63]:
dict_2

{'first name': 'Sir',
 'last name': 'Iqbal',
 'age': 35,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [64]:
dict_2["age"]= 40

In [65]:
dict_2

{'first name': 'Sir',
 'last name': 'Iqbal',
 'age': 40,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [66]:
del dict_2["last name"]

In [68]:
dict_2

{'first name': 'Sir',
 'age': 40,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [69]:
dict_2.append("first name": "zeeshan")

SyntaxError: invalid syntax (<ipython-input-69-527c81913e57>, line 1)

In [42]:
dict_3 = {"first name": "zeeshan" , "last name" : "khan" , "age": 20 , "first name": "shams"}

In [43]:
dict_3

{'first name': 'shams', 'last name': 'khan', 'age': 20}

In [44]:
dict_3["first name"]

'shams'

In [45]:
dict_3.items()

dict_items([('first name', 'shams'), ('last name', 'khan'), ('age', 20)])

In [46]:
dict_3.values()

dict_values(['shams', 'khan', 20])

In [74]:
dict_3.copy()

{'first name': 'shams', 'last name': 'khan', 'age': 20}

In [78]:
dict_3.get(1)

In [79]:
dict_3

{'first name': 'shams', 'last name': 'khan', 'age': 20}