# Assignment 3 List comprehension

<h3>Q no 1 : you have some strings in variable text your task is to make a list of capital letters only using list comprehension and print that list</h3>
<h4>Hint! explore isUpper() method then do this</h4>

In [7]:
string = "My Name Is Shams"
list = [word for word in string if word.isupper() == True]
list

['M', 'N', 'I', 'S']

<h3>Q no 2: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension</h3>

In [8]:
list_1 = [x for x in range(0,20,2)]

In [11]:
list_1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

<h3>Q no 3 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it</h3>

In [15]:
list_3 = [x for x in range(1,1000,7)]

In [17]:
list_3

[1,
 8,
 15,
 22,
 29,
 36,
 43,
 50,
 57,
 64,
 71,
 78,
 85,
 92,
 99,
 106,
 113,
 120,
 127,
 134,
 141,
 148,
 155,
 162,
 169,
 176,
 183,
 190,
 197,
 204,
 211,
 218,
 225,
 232,
 239,
 246,
 253,
 260,
 267,
 274,
 281,
 288,
 295,
 302,
 309,
 316,
 323,
 330,
 337,
 344,
 351,
 358,
 365,
 372,
 379,
 386,
 393,
 400,
 407,
 414,
 421,
 428,
 435,
 442,
 449,
 456,
 463,
 470,
 477,
 484,
 491,
 498,
 505,
 512,
 519,
 526,
 533,
 540,
 547,
 554,
 561,
 568,
 575,
 582,
 589,
 596,
 603,
 610,
 617,
 624,
 631,
 638,
 645,
 652,
 659,
 666,
 673,
 680,
 687,
 694,
 701,
 708,
 715,
 722,
 729,
 736,
 743,
 750,
 757,
 764,
 771,
 778,
 785,
 792,
 799,
 806,
 813,
 820,
 827,
 834,
 841,
 848,
 855,
 862,
 869,
 876,
 883,
 890,
 897,
 904,
 911,
 918,
 925,
 932,
 939,
 946,
 953,
 960,
 967,
 974,
 981,
 988,
 995]

<h3>Q no 4 : Count the number of spaces in a string below using list comprehension and print the result</h3>

In [21]:
string_2 = " I am learning python language"
list_3 = [string_2.count(" ")]
list_3

[5]

<h3>Q no 5 : Write a script that draws a triangle as below:</h3>

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [18]:
for x in range(13):
    print("*" * x)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

<h3>Q no 6 : Write a script that draws a geometric shape as below:</h3>

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [19]:
for x in range(0,7):
    print("*" * x)
for x in range(7,0,-1):
    print("*" * x)

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

<h3>Q no 7 :Find all of the words in a string that are less than 4 letters using list comprehension</h3>

In [30]:
Name_1 = "Ali Zeeshan Shams Smash All New"

In [31]:
List_new = Name_1.split()
List_new

['Ali', 'Zeeshan', 'Shams', 'Smash', 'All', 'New']

In [33]:
list_5 = [x for x in List_new if len(x) < 4]
print(list_5)

['Ali', 'All', 'New']