# tupple and Dictionary

In [57]:
a = ("ali" , "asad" , "zeeshan")
a

('ali', 'asad', 'zeeshan')

In [2]:
del a

In [3]:
a

NameError: name 'a' is not defined

In [8]:
dict = {"name": "ali" , "age": 24 , "class" : 10 , "address": 5.5}

In [9]:
dict

{'name': 'ali', 'age': 24, 'class': 10, 'address': 5.5}

In [13]:
dict_1 = {"name": ["alex" , "sara"] , "tuple": ("one" , "two" , 3)}

In [19]:
dict_1

{'name': ['alex', 'sara'], 'tuple': ('one', 'two', 3)}

In [20]:
type(dict_1)

dict

In [21]:
tuple(dict_1)

('name', 'tuple')

In [22]:
type(dict_1)

dict

In [23]:
dict_2 = {"first name": "Sir" , "last name": "Iqbal" , "age": 35 , "profession": "teaching" , "adress": "islamabad"}

In [24]:
dict_2

{'first name': 'Sir',
 'last name': 'Iqbal',
 'age': 35,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [37]:
dict_2["age"]= 40

In [38]:
dict_2

{'first name': 'Sir',
 'age': 40,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [39]:
del dict_2["last name"]

KeyError: 'last name'

In [40]:
dict_2

{'first name': 'Sir',
 'age': 40,
 'profession': 'teaching',
 'adress': 'islamabad'}

In [42]:
dict_2.append("first name": "zeeshan")

SyntaxError: invalid syntax (<ipython-input-42-27a681e38f3b>, line 1)

In [45]:
dict_3 = {"first name": "zeeshan" , "last name" : "khan" , "age": 20 , "first name": "shams"}

In [46]:
dict_3

{'first name': 'shams', 'last name': 'khan', 'age': 20}

In [47]:
dict_3["first name"]

'shams'

In [51]:
dict_3.items()

dict_items([('first name', 'shams'), ('last name', 'khan'), ('age', 20)])

In [52]:
dict_3.values()

dict_values(['shams', 'khan', 20])

In [53]:
dict_3.copy()

{'first name': 'shams', 'last name': 'khan', 'age': 20}

In [55]:
dict_3.get(2)

In [56]:
dict_3

{'first name': 'shams', 'last name': 'khan', 'age': 20}